:root {
  /* main colors used across the project */
  --color-primary: #ffffff;
  --color-secondary: #d5bdaf;
  --color-secondary-text-box-BG: #d5bdafc7;
  --color-text-primary: #4b2a4a;
  --color-text-secondary: #ffffff;
  --color-primary-modal: #d5bdafef;
  --color-secondary-modal: #d5bdafd7;
  --color-tertary-modal: #d6bdaf2a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid 1px salmon; */
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Cormorant", "Times New Roman", Times, serif, sans-serif;
  font-style: italic;
  background: linear-gradient(
    var(--color-primary) 10%,
    var(--color-secondary) 20%
  );
  color: var(--color-text-primary);
  width: 100vw;
  height: 100vh;
  /* font-size: 1.6rem; */
  display: grid;
  grid-template-rows: 25% 70% 5%;
  grid-template-areas: "header" "main" "footer";
  /* gap: 2rem; */
}

header {
  grid-area: header;
}

.logo {
  margin: 1.4rem auto;
  text-align: center;
  width: 400px;
  height: 138px;
}

.nav-container {
  /* padding: 0.7rem; */
  width: 75%;
  margin: 0 auto;
}

.list {
  list-style: none;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 6rem;
}

.btn {
  border: none;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  font-size: 1.8rem;
}

.nav_btn {
  text-transform: uppercase;
  /* font-style: inherit; */
  font-weight: 700;
  font-size: 2.4rem;
  letter-spacing: 0.3rem;
}

.btn:after {
  display: block;
  content: "";
  border-bottom: solid 3px #4b2a4ab0;
  transform: scaleY(0);
  transition: transform 150ms ease-in-out;
}

.btn:hover:after {
  transform: scaleY(1);
}

.btn--active {
  border: solid;
  border-image-slice: 1;
  border-width: 2.5px;
  border-image-source: linear-gradient(
    114deg,
    rgb(75, 42, 74) 50%,
    rgba(255, 255, 255, 1) 70%,
    rgba(75, 42, 74, 1) 80%
  );
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* General layout of main container */
main {
  position: relative;
  margin: 0 auto;
  grid-area: main;
  overflow: scroll;
  width: 85%;
  height: 100%;

  /* Scrollbar removal for IE */
  -ms-overflow-style: none;

  /* Scrollbar removal for Firefox */
  scrollbar-width: none;
}

/* Scrollbar removal for Chrome */
main::-webkit-scrollbar {
  display: none;
}

/* General styling for different content sections */
section {
  position: relative;
  /* display: flex; */
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* height: 100%; */
}

.landing {
  width: 100%;
  height: 100%;
  /* padding: 1rem; */
}

/* Category groups on landing page */
.group {
  margin: 0.7rem 0rem;
  position: relative;
  display: flex;
  width: 58rem;
  height: 27rem;
  justify-content: center;
  align-items: center;
}

/* Title of categories on landing page */
.group-name-title {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
  bottom: 4rem;
  position: absolute;
  width: 100%;
  height: 3.5rem;
  background-color: var(--color-secondary-text-box-BG);
  color: var(--color-text-primary);
  font-size: 3rem;
}

.group:hover {
  cursor: pointer;
}

.group:hover .group-name-title {
  transition: font-size 0.5s;
  font-size: 3.2rem;
}

.logo-image,
.landing img {
  width: 100%;
  height: 100%;
}

/* Setting layout for gallery navigation by category */
.gallery_sub_nav_container {
  width: 100%;
  height: 6.5rem;
  margin: 0 auto;
  justify-content: center;
  position: sticky;
  top: -1px;
  font-size: 1.4rem;
  /* z-index: 1; */
}

/* Setting gallery layout */
/* .gallery-grid {
  width: 100%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1.7rem;
  place-items: center;
} */

/* .folder_content {
  display: none;
} */

.gallery-category--active {
  display: grid;
}

.gallery-image {
  width: 20rem;
}
.gallery-image:hover {
  transform: scale(1.1);
  transition: 0.6s;
}

/* Background for gallery popup image */
.overlay-popup-container {
  /* *display* Changed on click (showImage - modal activation) */
  display: none;
  grid-template-areas: "close" "present" "control";
  grid-template-rows: 1fr 7fr 1fr;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#image_popup {
  grid-area: present;
  display: block;
  max-width: 80%;
  max-height: 80%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallery-nav {
  grid-area: control;
  justify-self: center;
}

.gallery_btn {
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background: none;
  width: 5rem;
  height: 5rem;
}
.gallery_btn_icon {
  width: 5rem;
  height: 5rem;
}

.close-button {
  grid-area: close;
  justify-self: end;
  margin-right: 5rem;
  font-size: 60px;
  color: #fff;
  cursor: pointer;
}

.close-button:hover {
  color: red;
}

/*"For-me" section Modal background setup */
.overlay {
  position: fixed;
  width: 80%;
  height: 70%;
  z-index: 1;
  left: 10%;
  top: 25%;

  background: linear-gradient(
    var(--color-tertary-modal) 5%,
    var(--color-secondary-modal) 25%,
    var(--color-secondary-text-box-BG) 55%,
    var(--color-primary-modal) 45%
  );
}

/* "For-me" Modal */
.modal {
  background-color: var(--color-primary-modal);
  width: 75%;
  height: 45%;
  margin: 15rem auto;
  padding: 2.5rem;
}
.for-me-info {
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
}

.no-scroll {
  overflow: hidden;
}

.nav_content {
  display: none;
}

.nav_content--active {
  display: flex;
}

.contacts {
  font-size: 2.5rem;
  text-align: center;
  height: 100%;
}
.contacts.list {
  margin-top: 1rem;
}

.contact_item {
  padding: 3rem;
}

.contact_item img {
  vertical-align: middle;
}
.contact_icon {
  width: 3rem;
}

footer {
  height: 1.8rem;
  margin: 0.8rem;
  grid-area: footer;
  position: fixed;
  left: 0;
  bottom: 0rem;
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
}

#filter-container {
  background: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1;
}

span.filter-element {
  background-color: var(--color-secondary);
  padding: 12px 24px;
  border-radius: 20px;
  margin: 6px;
  cursor: pointer;
}

span.filter-element:hover {
  background-color: #f1e8e3;
  color: var(--color-text-primary);
}

span.filter-active {
  background-color: var(--color-text-primary);
  color: antiquewhite;
}

/* masonry effect */
#gallery-container {
  width: 90%;
  margin: 0 auto;
  column-count: 3;
  column-gap: 0.5rem;
}

.gallery-image {
  width: 100%;
}

.gallery-image.hide-image {
  display: none;
}

/** Animation */

.appear-group {
  animation-duration: 0.7s;
  animation-name: appear-group;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
}
.appear-text {
  animation-duration: 0.9s;
  animation-name: appear-text;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
}

@keyframes appear-group {
  0% {
    opacity: 0;
    transform: scale(0.7, 0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes appear-text {
  0% {
    opacity: 0;
    transform: scale(0.1, 0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.delay-1 {
  animation-delay: 0.75s;
}
.delay-2 {
  animation-delay: 0.8s;
}
.delay-3 {
  animation-delay: 0.85s;
}
.delay-4 {
  animation-delay: 0.9s;
}

/** Modal animation*/

/** Media Queries */
@media (max-width: 920px) {
  #gallery-container {
    column-count: 2;
  }
}
@media (max-width: 826px) {
  body {
    grid-template-rows: 20% 70% 10%;
  }

  main {
    /* margin-top: 2rem; */
  }

  .logo {
    margin: 0.7rem auto;
    width: 250px;
    height: 85px;
  }

  .nav-container {
    width: 80%;
  }
  nav ul {
    width: 100%;
    padding: 0;
  }
  .nav_btn {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
  }
  .gallery_sub_nav_container {
    height: 3.5rem;
  }
  span.filter-element {
    padding: 4px 6px;
    margin: 6px;
  }

  .overlay {
    width: 90%;
    top: 20%;
    left: 5%;
  }

  .modal {
    margin: 5rem auto;
    padding: 0.7rem;
    width: 90%;
  }

  .for-me-info {
    font-size: 1.4rem;
  }
}

@media (max-width: 375px) {
}
