:root {
  --color-primary: #ffffff;
  --color-secondary: #d5bdaf;
  --color-secondary-text-box-BG: #d5bdafc7;
  --color-text-primary: #000000;
  --color-text-secondary: #ffffff;
  --color-primary-modal: #d5bdafef;
  --color-secondary-modal: #d5bdafd7;
  --color-tertary-modal: #d6bdaf2a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid 1px salmon; */
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif, sans-serif;
  background: linear-gradient(
    var(--color-primary) 15%,
    var(--color-secondary) 29%
  );
  width: 100vw;
  height: 100vh;
  font-size: 1.6rem;
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: "header" "main" "footer";
  padding: 0.7rem;
}

header {
  grid-area: header;
  margin: 0.7rem;
  padding: 0.7rem;
}

.logo {
  margin: 0 auto;
  text-align: center;
  width: 420px;
  height: 125px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.nav-container {
  padding: 0.7rem;
  width: 75%;
  margin: 0 auto;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  padding: 0 6rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-size: 2.4rem;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

main {
  position: relative;
  margin: 0.7rem auto;
  padding: 0 7rem;
  grid-area: main;
  overflow: scroll;
  width: 95%;
  height: 90%;

  /* Scrollbar removal for IE */
  -ms-overflow-style: none;

  /* Scrollbar removal for Firefox */
  scrollbar-width: none;
}

/* Scrollbar removal for Chrome */
main::-webkit-scrollbar {
  display: none;
}

section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gallery-groups {
  width: 100%;
  height: 100%;
}

.group {
  margin: 0.7rem 0rem;
  position: relative;
  display: flex;
  width: 55rem;
  height: 29rem;
  justify-content: center;
  align-items: center;
}

.group-name-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: auto;
  height: 3.5rem;
  background-color: var(--color-secondary-text-box-BG);
  color: var(--color-text-secondary);
  font-size: 3rem;
}

img {
  width: 100%;
  height: 100%;
}

footer {
  height: 1.2rem;
  grid-area: footer;
  position: fixed;
  left: 0;
  bottom: 3rem;
  text-align: center;
  width: 100%;
  /* margin: 0; */
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;

  background: linear-gradient(
    var(--color-tertary-modal) 5%,
    var(--color-secondary-modal) 25%,
    var(--color-secondary-text-box-BG) 55%,
    var(--color-primary-modal) 45%
  );
}

.modal {
  background-color: var(--color-primary-modal);
  width: 72%;
  margin: 20rem auto;
  padding: 2.1rem;
}
.for-me-info {
  font-size: 2.5rem;
}

.hidden {
  display: none;
}
